body {
  background-color: #ffedca;
}
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  float: left;
  margin-left: 100px;
}
table {
  border: 1px solid #999;
  float: right;
}
th {
  border: 1px solid #999;
  background-color: #cc6600;
  color: #fff;
}
tr {
  border: 1px solid #999;
}
td {
  padding: 10px;
  border: 1px solid #999;
}
h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.heading {
  width: 70vw;
}
