body {
  background-color: #ffdd99;
}
table {
  width: 100%;
  border: 1px solid #999;
  border-spacing: 10px;
}
tr {
  border: 1px solid #999;
  padding: 20px;
  margin: 10px;
}
td {
  border: 1px solid #999;
  padding: 10px;
}
th {
  font-size: 30px;
}
td > input {
  padding: 10px;
  width: 800px;
  height: 30px;
  font-size: 14px;
}
textarea {
  width: 500px;
}
.custom-select {
  display: block;
}
fieldset {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
fieldset > input {
  width: 30px;
  margin-right: 10px;
}
.submit {
  text-align: center;
}
button {
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}
