* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 20px 10px;
}
table {
  border: 1px solid #999;
  width: 550px;
  text-align: center;
  border-spacing: 5px;
  background-image: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}
tr {
  text-align: center;
}

td {
  width: 100%;
  text-align: center;
  border: 1px solid #999;
  padding: 10px;
}
th {
  height: 55px;
  border: 1px solid #999;
}
